<div class="home-body">
  <div class="projects-body">
    <div class="flex_1">
      <span class="txt_header"> Other Projects  </span>
      <span class="txt_sub"> view my works  </span>
    </div>
    <div class="flex_2">
      <div class="row_1">
        <div class="box_1" data-aos="zoom-in-up"  (click)="openLink('https://github.com/Hasintha-git/Linkedin.io')">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">
            </div>
            <div class="title">
              <p class="txt_title">Linkedin Clone Mobile Application</p>

            </div>
            <div class="body">
              <p class="txt_des">This is Linkedin Clone mobile application using React Native and Firebase. This main focus for learn React Native and How to work with Firebase. </p>

            </div>
            <div class="footer">
              <p class="txt_lan">React Native</p>
              <p class="txt_lan">Firebase</p>

            </div>
          </div>

        </div>
        <div class="box_1" data-aos="zoom-in-up"  (click)="openLink('https://github.com/Hasintha-git/Article-Site')">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">
            </div>
            <div class="title">
              <p class="txt_title">Article Web Site</p>

            </div>
            <div class="body">
              <p class="txt_des">This is Article website using Node js, Express Js and Mongo db. This is simple article site and mainly focus education.</p>

            </div>
            <div class="footer">
              <p class="txt_lan">NodeJS</p>
              <p class="txt_lan">ExpressJS</p>
              <p class="txt_lan">MongoDb</p>

            </div>
          </div>
        </div>
        <div class="box_1" data-aos="zoom-in-up" (click)="openLink('https://github.com/Hasintha-git/Expense-Tracking-Application')">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">

            </div>
            <div class="title">
              <p class="txt_title">Expense Tracking Mobile Application</p>

            </div>
            <div class="body">
              <p class="txt_des">This is Mobile Application Project and It's features are add monthly income and manage your income and store your expense and you can got some idea about future days and you can view all details about it.</p>

            </div>
            <div class="footer">
              <p class="txt_lan">ReactNative</p>
              <p class="txt_lan">MongoDB</p>

            </div>
          </div>
        </div>

      </div>
      <div class="row_2">
        <div class="box_2" data-aos="zoom-in-up"  (click)="openLink('https://github.com/Hasintha-git/Covid-19-Tracker/tree/main/Covid%20app')">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">

            </div>
            <div class="title">
              <p class="txt_title">Covid 19 Tracker - Live</p>

            </div>
            <div class="body">
              <p class="txt_des">This is web application and you can watch current Infected, Recovered, Deaths Global and country wise. I using React, Meterial Ui, Chart JS and Covid19 Mathdro api. </p>

            </div>
            <div class="footer">
              <p class="txt_lan">React</p>
              <p class="txt_lan">Covid19 Api</p>

            </div>
          </div>
        </div>
        <div class="box_2" data-aos="zoom-in-up" (click)="openLink('https://github.com/Hasintha-git/Easy-Car-Rental-Web-Application')">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">

            </div>
            <div class="title">
              <p class="txt_title">Car Rental Web System</p>

            </div>
            <div class="body">
              <p class="txt_des">This is car rental system and develop by using Angular, Spring, My Sql and Angular Material. It's web project and car rental all manage features included.</p>

            </div>
            <div class="footer">
              <p class="txt_lan">Angular</p>
              <p class="txt_lan">Spring</p>
              <p class="txt_lan">Mysql</p>

            </div>
          </div>
        </div>
        <div class="box_2" data-aos="zoom-in-up" (click)="openLink('https://github.com/Hasintha-git/wizlab-prediction')">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">

            </div>
            <div class="title">
              <p class="txt_title">Car Price Prediction Using MI</p>

            </div>
            <div class="body">
              <p class="txt_des">This project is Car Price Prediction web application using Machine Learning, Python and numpy, pandas, scikit-learn packages and learn focus project
              </p>

            </div>
            <div class="footer">
              <p class="txt_lan">Python</p>
              <p class="txt_lan">Machine Learning</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn_show_more" (click)="openGithubRepo()">Show more</button>

  </div>

</div>


<!-- youtube video -->

<div class="youtube-home-body">
  <div class="youtube-body">
    <div class="flex_1">
      <span class="txt_header"> You Tube Videos  </span>
      <span class="txt_sub"> Hasiya Tech </span>
    </div>
    <div class="flex_2">
      <div class="row_1">
        <div class="box_1" data-aos="zoom-in-up"  >
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/QonMavvejAw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>

      </div>
      <div class="row_2">
        <div class="box_2" data-aos="zoom-in-up"  >
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/tFn2Cs0ZHRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      
      
      </div>

      <div class="row_1">
        <div class="box_1" data-aos="zoom-in-up">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/vqvNrF7-cI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>

      </div>
      <div class="row_2">
        <div class="box_2" data-aos="zoom-in-up"  >
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/mw6zqmwRJlQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      
      
      </div>
    </div>
    <button class="btn_show_more" (click)="openYoutubeChannel()">Show more</button>

  </div>

</div>
