<div class="home-body">
  <div class="projects-body">
    <div class="flex_1">
      <span class="txt_header"> Other Projects  </span>
      <span class="txt_sub"> view my works  </span>
    </div>
    <div class="flex_2">
      <div class="row_1">
        <div class="box_1">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">
            </div>
            <div class="title">
              <p class="txt_title">Integrating Algolia Search with WordPress Multisite</p>

            </div>
            <div class="body">
              <p class="txt_des">We were tasked with revamping the web experience for a college of a large university, and each school revamping the web experience for a college of a large university, and each school</p>

            </div>
            <div class="footer">
              <p class="txt_lan">Algolia</p>
              <p class="txt_lan">Firebase</p>
              <p class="txt_lan">Node</p>

            </div>
          </div>

        </div>
        <div class="box_1">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">
            </div>
            <div class="title">
              <p class="txt_title">Integrating Algolia Search with WordPress Multisite</p>

            </div>
            <div class="body">
              <p class="txt_des">We were tasked with revamping the web experience for a college of a large university, and each school revamping the web experience for a college of a large university, and each school</p>

            </div>
            <div class="footer">
              <p class="txt_lan">Express</p>
              <p class="txt_lan">Java</p>
              <p class="txt_lan">Mongodb</p>

            </div>
          </div>
        </div>
        <div class="box_1">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">

            </div>
            <div class="title">
              <p class="txt_title">Integrating Algolia Search with WordPress Multisite</p>

            </div>
            <div class="body">
              <p class="txt_des">We were tasked with revamping the web experience for a college of a large university, and each school revamping the web experience for a college of a large university, and each school</p>

            </div>
            <div class="footer">
              <p class="txt_lan">Angular</p>
              <p class="txt_lan">Spring</p>
              <p class="txt_lan">Mysql</p>

            </div>
          </div>
        </div>

      </div>
      <div class="row_2">
        <div class="box_2">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">

            </div>
            <div class="title">
              <p class="txt_title">Integrating Algolia Search with WordPress Multisite</p>

            </div>
            <div class="body">
              <p class="txt_des">We were tasked with revamping the web experience for a college of a large university, and each school revamping the web experience for a college of a large university, and each school</p>

            </div>
            <div class="footer">
              <p class="txt_lan">Angular</p>
              <p class="txt_lan">Spring</p>
              <p class="txt_lan">Mysql</p>

            </div>
          </div>
        </div>
        <div class="box_2">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">

            </div>
            <div class="title">
              <p class="txt_title">Integrating Algolia Search with WordPress Multisite</p>

            </div>
            <div class="body">
              <p class="txt_des">We were tasked with revamping the web experience for a college of a large university, and each school revamping the web experience for a college of a large university, and each school</p>

            </div>
            <div class="footer">
              <p class="txt_lan">Angular</p>
              <p class="txt_lan">Spring</p>
              <p class="txt_lan">Mysql</p>

            </div>
          </div>
        </div>
        <div class="box_2">
          <div class="box_1_body">
            <div class="header">
              <img class="img_card_logo" src="../../../assets/images/icons/social/folder.svg" alt="">
              <img class="img_card_logo" src="../../../assets/images/icons/social/github.svg" alt="">

            </div>
            <div class="title">
              <p class="txt_title">Integrating Algolia Search with WordPress Multisite</p>

            </div>
            <div class="body">
              <p class="txt_des">We were tasked with revamping the web experience for a college of a large university, and each school revamping the web experience for a college of a large university, and each school</p>

            </div>
            <div class="footer">
              <p class="txt_lan">Angular</p>
              <p class="txt_lan">Spring</p>
              <p class="txt_lan">Mysql</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn_show_more">Show more</button>

  </div>

</div>
