<div class="article_footer_body">
  <div class="footer_sub_body">
    <div class="ruler"></div>
    <div class="footer_content">
      <p class="txt_header">Give Your Valuable Feedback</p>
      <p class="txt_des">Yoiur feedback very importent to develop our website if you have any bad or good idea please give your feedback</p>

      <div class="box_1">
        <input type="text" class="search_txt" placeholder="Feedback Type here...">
      </div>

      <button class="btn_submit">Submit</button>
    </div>
    <div class="ruler"></div>
  </div>

</div>
