<div class="box_position">
  <p class="txt_position">Software Engineer Intern</p>
</div>
<div class="box_duration">
  <p class="txt_duration">Aug 2021 - Aug 2022</p>

</div>
<div class="box_body">
  <p class="txt_pdetails">Write modern, performant, maintainable code for a diverse array of client and internal projects
    Work with a variety of different languages, platforms, frameworks, and content management </p>
</div>


<div class="box_position">
  <p class="txt_position">Software Engineer Associate</p>
</div>
<div class="box_duration">
  <p class="txt_duration">Aug 2022 - Present</p>

</div>
<div class="box_body">
  <p class="txt_pdetails">Write modern, performant, maintainable code for a diverse array of client and internal projects
    Work with a variety of different languages, platforms, frameworks, and content management </p>
</div>
