.box_position {
  width: 100%;
  height: auto;
  overflow: hidden;
  //background-color: greenyellow;
  .txt_position {
    color: whitesmoke;
    font-size: 22px;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;

  }

}

.box_duration {
  width: 100%;
  height: 10%;
  //background-color: red;
  .txt_duration {
    color: gray;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;

  }
}

.box_body {
  width: 100%;
  height: auto;
  //background-color: green;
  .txt_pdetails {
    color: gray;
    font-size: 14px;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;

  }
}

//tablet>>>
@media only screen and (max-width: 806px) {

  .txt_position {
    font-size: 16px !important;
  }

}
