<div class="home-body">
  <div class="worked-body">
    <div class="flex_1">
      <span class="txt_01">02.</span><span class="txt_header"> Worked  </span>        <span class="ruler"></span>
    </div>
    <div class="flex_2">

      <div class="flex_2_body">

        <div class="side_1">
          <button class="btn_worked">epic</button>
            <!--<button class="btn_worked">youtube</button>-->
            <!--<button class="btn_worked">facebook</button>-->
            <!--<button class="btn_worked">wizlab</button>-->
        </div>
        <div class="side_2">
          <app-epic></app-epic>
        </div>


      </div>
    </div>
  </div>
</div>
