<div class="main">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div class="example-sidenav-box">
      <button type="button" mat-button class="btn-route" routerLink="/portfolio">
        01. Home
      </button>
      <!--<button type="button" mat-button class=" btn-route" routerLink="/blog">-->
        <!--02. Blog-->
      <!--</button>-->
      <!--<button type="button" mat-button class=" btn-route">-->
        <!--03. Shopping-->
      <!--</button>-->
      <button type="button" mat-button class=" btn-resume" (click)="openResume()">
        Resume
      </button>

      <img src="../../../assets/images/icons/close.png" class="btn-close-menu" (click)="drawer.toggle()" alt="">

      <!--<button mat-button class="btn-close" (click)="drawer.toggle()">close</button>-->

    </div>
    <!--<p>Auto-resizing sidenav wdqfwefkewn</p>-->
    <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->

  </mat-drawer>

  <div class="logo-section">
    <img src="../../../assets/images/logos/logo.png" class="img" (click)="drawer.toggle()">
  </div>

  <div class="btn-section">
<!--    <button type="button" mat-button class="btn-route" routerLink="/portfolio">-->
<!--      01. Home-->
<!--    </button>-->
<!--    <button type="button" mat-button class=" btn-route" routerLink="/blog">-->
<!--      02. Blog-->
<!--    </button>-->

<!--    need remove >>>>-->

    <button type="button" mat-button class=" btn-route" >
      <!--02. Blog-->
    </button>
<!--    <<<<<<<<<<<<<<<<<<<<-->
    <button type="button" mat-button class=" btn-route">
      <!--03. Shopping-->
    </button>
    <button type="button" mat-button class="btn-route" >
      <!--01. Home-->
    </button>
    <button type="button" mat-button class=" btn-resume"  (click)="openResume()">
      Resume
    </button>

  </div>

  <div class="btn-section-mobile">
    <button type="button" class="btn btn-menu" >
      <!--<a (click)="drawer.toggle()">click</a>-->
      <img src="../../../assets/images/icons/menu.svg" class="img-menu" (click)="drawer.toggle()">
    </button>
    <!--<app-sidemenu *ngIf="loadSidemenu"></app-sidemenu>-->

  </div>
  <div class="menu">
    <!--<p>kwnjfnje</p>-->
  </div>


</div>
