<div class="home-body">

  <div class="about-body">
    <div class="side_1">
      <div class="flex_1">
        <span class="txt_01">01.</span><span class="txt_header"> About Me  </span>        <span class="ruler"></span>
      </div>
      <br>
      <div class="flex_2">

        <div class="div_description">
          <h1 class="txt_des" data-aos="zoom-in-up">Hello! My name is Hasintha Diyaneth, and I enjoy building modern, scalable web applications. My journey in software development started back in 2018 when I began exploring Angular and Java — sparking my passion for creating interactive and efficient user interfaces.</h1>
            <h1 class="txt_des" data-aos="zoom-in-up">Fast forward to today, I am working at Epic Lanka as a Full Stack Software Engineer, specializing in Angular development. My main focus is crafting robust and user-friendly solutions for fintech applications, where I lead as the Component Head for the admin module of a leading digital banking application.
              I’m driven by the challenge of building innovative products that push boundaries while ensuring they remain accessible, inclusive, and impactful. With expertise in both front-end and back-end technologies, I strive to bridge the gap between design and functionality, delivering seamless digital experiences.</h1>
        </div>
        <div class="div_language">
          <p class="txt_language" data-aos="zoom-in-up">Here are a few technologies & frameworks I’ve been working with recently:</p>
          <div class="language">
            <div class="language_box">
              <div class="div_language" data-aos="zoom-in-up">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Angular</p>
              </div>
              <div class="div_language" data-aos="zoom-in-up">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Java</p>
              </div>
              <div class="div_language" data-aos="zoom-in-up">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Spring Boot</p>
              </div>

            </div>
            <div class="language_box" data-aos="zoom-in-up">
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Node</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="side_2">
      <div class="flex_img">
        <img data-aos="zoom-in-up" class="img_hasintha" src="../../../assets/images/img/20230318_093000.jpg" alt="">
      </div>
    </div>

  </div>

</div>
