<div class="home-body">

  <div class="about-body">
    <div class="side_1">
      <div class="flex_1">
        <span class="txt_01">01.</span><span class="txt_header"> About Me  </span>        <span class="ruler"></span>
      </div>
      <div class="flex_2">

        <div class="div_description">
          <p class="txt_des">Hello! My name is Brittany and I enjoy creating things that live on the internet. My interest in <span class="txt_hightlight">web development </span>started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!</p>
            <p class="txt_des">Fast-forward to today, and I’ve had the privilege of working at <span class="txt_hightlight"> an advertising agency, a start-up, a huge corporation, and a student-led design studio.</span> My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.</p>
        </div>
        <div class="div_language">
          <p class="txt_language">Here are a few technologies I’ve been working with recently:</p>
          <div class="language">
            <div class="language_box">
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">JavaScript (ES6+)</p>
              </div>
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">react</p>
              </div>
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Angular</p>
              </div>

            </div>
            <div class="language_box">
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">TypeScript</p>
              </div>
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Eleventy</p>
              </div>
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">WordPress</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="side_2">
      <div class='container'>
        <div class='circle'>
          <div class='inner'>
            <img class="img_hasintha" src="../../../assets/images/img/my3.jpg" alt="">

            <!--<div class="flex_img">-->
            <!--<img class="img_hasintha" src="../../../assets/images/img/my3.jpg" alt="">-->
            <!--</div>-->
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
