<div class="home-body">

  <div class="about-body">
    <div class="side_1">
      <div class="flex_1">
        <span class="txt_01">01.</span><span class="txt_header"> About Me  </span>        <span class="ruler"></span>
      </div>
      <div class="flex_2">

        <div class="div_description">
          <p class="txt_des">Hello! My name is Hasintha and I enjoy creating things that live on the internet. My interest in <span class="txt_hightlight">web development </span>started back in 2018 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!</p>
            <p class="txt_des">Fast-forward to today, and Currently working at <span class="txt_hightlight"> Epic Lanka Software Company in Sri Lanka.</span> My main focus these days learn 3D web development and I need introduce modern Web Technologies For IT Industry</p>
        </div>
        <div class="div_language">
          <p class="txt_language">Here are a few technologies I’ve been working with recently:</p>
          <div class="language">
            <div class="language_box">
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Python</p>
              </div>
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Angular</p>
              </div>
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Java</p>
              </div>

            </div>
            <div class="language_box">
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">React</p>
              </div>
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Java Script</p>
              </div>
              <div class="div_language">
                <img class="img_arrow" src="../../../assets/images/icons/arrow.png" alt="">
                <p class="txt_lan">Spring Boot</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="side_2">
      <div class='container'>
        <div class='circle'>
          <div class='inner'>
            <img class="img_hasintha" src="../../../assets/images/img/my3.jpg" alt="">

            <!--<div class="flex_img">-->
            <!--<img class="img_hasintha" src="../../../assets/images/img/my3.jpg" alt="">-->
            <!--</div>-->
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
