<div class="home-body">

  <div class="shop24-body">
    <div class="side_1">
      <div class="flex_1">
        <span class="txt_01">03.</span><span class="txt_header"> Some Things I’ve Built </span>        <span class="ruler"></span>
      </div>
      <div class="flex_2">

        <div class="div_cover">
          <img class="img_cov" src="../../../assets/images/covers/24shop.png" alt="">
        </div>

      </div>

    </div>
    <div class="side_2">
      <div class="side_2_box">
        <p class="txt_project_featured">Featured Project</p>
        <p class="txt_project_Name">Halcyon Theme</p>

        <div class="style_box">
          <p class="pro_description">A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more. Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.</p>

        </div>

        <div class="technology">
          <p class="txt_tech">VS Code</p>
          <p class="txt_tech">VS Code</p>
          <p class="txt_tech">VS Code</p>
          <p class="txt_tech">VS Code</p>

        </div>
        <div class="btn_section">

          <img class="img_link" src="../../../assets/images/icons/icons8-geography-50.png" alt="">
        </div>

      </div>
    </div>
  </div>

</div>
<div class="home-body">

  <div class="youtube-body">
    <div class="side_2">
      <div class="side_2_box">
        <p class="txt_project_Name">Hasiya Teh</p>

        <p class="txt_project_featured">Youtube Content Creation</p>

        <div class="style_box">
          <p class="pro_description">A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more. Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.</p>

        </div>

        <div class="technology">
          <p class="txt_tech">Tech</p>
          <p class="txt_tech">Review</p>
          <p class="txt_tech">Programming</p>
          <p class="txt_tech">PC</p>

        </div>
        <div class="btn_section">
          <img class="img_link" src="../../../assets/images/icons/icons8-geography-50.png" alt="">
        </div>

      </div>
    </div>
    <div class="side_1">
      <div class="flex_1">
        <span class="txt_01">04.</span><span class="txt_header"> My Youtube work </span>        <span class="ruler"></span>
      </div>
      <div class="flex_2">

        <div class="div_cover">
          <img class="img_cov" src="../../../assets/images/covers/youtube.png" alt="">
        </div>

      </div>

    </div>

  </div>

</div>
