<div class="home-body">
  <div class="social-box">
    <div class="social-media">
      <img class="social-icon" src="../../../assets/images/icons/social/github.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/instagram.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/twitter.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/linkedin.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/youtube.svg" alt="">

    </div>
    <div class="rule">
     <span class="ruler"></span>
    </div>

  </div>
  <div class="text-body">
    <div class="box-1">
      <p class="txt-title">Hi, my name is</p>



      <div class="example-button-container" style="position: fixed;width: 80px;right: 20px;bottom: 30px;z-index: 10000;">
        <div mat-fab aria-label="Example icon button with a home icon" class="whatsapp-button">
          <a style="z-index: 10000;display: block;" href="https://api.whatsapp.com/message/ZC4XJD3S67RNA1?autoload=1&app_absent=0" target="_blank">
            <img src="https://icon-library.com/images/whatsapp-icon-vector/whatsapp-icon-vector-7.jpg" alt="WhatsApp">
          </a>
        </div>
      </div>

      <!--<button type="button" class="btn btn-primary" tooltip="Bazinga!">-->
        <!--Bazinga-->
      <!--</button>-->

    </div>
    <div class="box-2">
      <h1 class="txt-name"  >{{name}}</h1>
      <h2 class="txt-what-do">{{profession}}</h2>
    </div>
    <div class="box-3">
      <h3 class="txt-description">{{description}}</h3>

    </div>
    <div class="box-4">
      <button mat-button class=" btn-more" >Check out <span class="span-btn-txt">my details </span> </button>
    </div>
  </div>
  <div class="name-box">
    <div class="name-intro">
      <span class="txt-mail " cursor-color="blue" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">diyanethhasintha@gmail.com</span>
    </div>
    <div class="social-media">

      <img class="social-icon" src="../../../assets/images/icons/social/github.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/instagram.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/twitter.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/linkedin.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/youtube.svg" alt="">

    </div>
    <div class="rule">
      <span class="ruler"></span>
    </div>
  </div>
</div>
