<div class="home-body">
  <div class="social-box">
    <div class="social-media">
      <img class="social-icon" src="../../../assets/images/icons/social/github.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/instagram.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/twitter.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/linkedin.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/youtube.svg" alt="">

    </div>
    <div class="rule">
     <span class="ruler"></span>
    </div>

  </div>
  <div class="text-body">
    <div class="box-1">
      <p class="txt-title">Hi, my name is</p>
      <!--<button type="button" class="btn btn-primary" tooltip="Bazinga!">-->
        <!--Bazinga-->
      <!--</button>-->

    </div>
    <div class="box-2">
      <p class="txt-name"  >Hasintha Diyaneth.</p>
      <p class="txt-what-do">I build things for the web.</p>
    </div>
    <div class="box-3">
      <p class="txt-description">I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building accessible, human-centered products at</p>

    </div>
    <div class="box-4">
      <button mat-button class=" btn-more" >Check out <span class="span-btn-txt">my details</span></button>
    </div>
  </div>
  <div class="name-box">
    <div class="name-intro">
      <span class="txt-mail " cursor-color="blue" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">diyanethhasintha@gmail.com</span>
    </div>
    <div class="social-media">
      <img class="social-icon" src="../../../assets/images/icons/social/github.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/instagram.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/twitter.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/linkedin.svg" alt="">
      <img class="social-icon" src="../../../assets/images/icons/social/youtube.svg" alt="">

    </div>
    <div class="rule">
      <span class="ruler"></span>
    </div>
  </div>
</div>
