<div class="article_main" >
  <!--main header bar >>>>>>>>-->
  <div class="article_header">
     <div class="div_body">
       <div class="div_1">
         <div class="main_details">
           <div class="box_1">
             <p class="txt_category">{{article_write_date}} | {{read_time}} | {{category_name}} </p>
             <p class="txt_title">{{article_title}}</p>
           </div>
           <!--<div class="box_2">-->
           <!--<div class="img_profile">-->
           <!--<img class="img_pro" src="{{article_wrtiter_profile}}" alt="">-->
           <!--</div>-->
           <!--<div class="profile_data">-->
           <!--<div class="txt_writter">{{article_wrtiter}}</div>-->
           <!--<div class="txt_date">{{article_write_date}}</div>-->
           <!--</div>-->
           <!--</div>-->
         </div>
       </div>
       <div class="div_2">
         <img class="img_main"  src="{{article_main_img}}" alt="">

       </div>

     </div>
  </div>


  <!--space_div area >>>>-->
  <div class="space_div"></div>

  <!--description area >>>>-->
  <div class="des_area" data-aos="zoom-in-up">
    <!doctype html>
    <html>
    <head>
      <title></title>
    </head>
    <body style="background-color: #111111; color: #9EACB9;" >
    <h1><span style="font-family:Times New Roman,Times,serif;"><span style="font-size:16px;"><strong>What is object-oriented programming?</strong></span></span></h1>

    <p><span style="font-family:Times New Roman,Times,serif;"><span style="font-size:14px;">Object-oriented programming (OOP) is a computer programming model that organizes software design around data, or objects, rather than functions and logic. An object can be defined as a data field that has unique attributes and behavior.</span></span></p>

    <p><span style="font-family:Times New Roman,Times,serif;"><span style="font-size:14px;">OOP focuses on the objects that developers want to manipulate rather than the logic required to manipulate them. This approach to programming is well-suited for programs that are large, complex and actively updated or maintained. This includes programs for manufacturing and design, as well as mobile applications; for example, OOP can be used for manufacturing system simulation software.</span></span></p>

    <p><span style="font-family:Times New Roman,Times,serif;"><span style="font-size:14px;">The organization of an object-oriented program also makes the method beneficial to collaborative development, where projects are divided into groups. Additional benefits of OOP include code reusability, scalability and efficiency.</span></span></p>

    <p><span style="font-family:Times New Roman,Times,serif;"><span style="font-size:14px;">The first step in OOP is to collect all of the objects a programmer wants to manipulate and identify how they relate to each other -- an exercise known as&nbsp;<a href="https://www.techtarget.com/searchdatamanagement/definition/data-modeling">data modeling</a>.</span></span></p>

    <p><span style="font-family:Times New Roman,Times,serif;"><span style="font-size:14px;">Examples of an object can range from physical entities, such as a human being who is described by properties like name and address, to small computer programs, such as&nbsp;<a href="https://www.techtarget.com/whatis/definition/widget">widgets</a>.</span></span></p>

    <p><span style="font-family:Times New Roman,Times,serif;"><span style="font-size:14px;">Once an object is known, it is labeled with a&nbsp;<a href="https://www.techtarget.com/whatis/definition/class">class</a>&nbsp;of objects that defines the kind of data it contains and any logic sequences that can manipulate it. Each distinct logic sequence is known as a method. Objects can communicate with well-defined interfaces called messages.</span></span></p>

    <h3 ><span style="font-family:Times New Roman,Times,serif;">What is the structure of object-oriented programming?</span></h3>

    <p><span style="font-family:Times New Roman,Times,serif;">The structure, or building blocks, of object-oriented programming include the following:</span></p>

    <ul>
      <li><span style="font-family:Times New Roman,Times,serif;"><strong>Classes</strong>&nbsp;are user-defined data types that act as the blueprint for individual objects, attributes and methods.</span></li>
      <li><span style="font-family:Times New Roman,Times,serif;"><strong>Objects</strong>&nbsp;are instances of a class created with specifically defined data. Objects can correspond to real-world objects or an abstract entity. When class is defined initially, the description is the only object that is defined.</span></li>
      <li><span style="font-family:Times New Roman,Times,serif;"><strong>Methods</strong>&nbsp;are functions that are defined inside a class that describe the behaviors of an object. Each method contained in class definitions starts with a reference to an instance object. Additionally, the subroutines contained in an object are called instance methods. Programmers use methods for reusability or keeping functionality encapsulated inside one object at a time.</span></li>
      <li><span style="font-family:Times New Roman,Times,serif;"><strong>Attributes</strong>&nbsp;are defined in the class template and represent the state of an object. Objects will have data stored in the attributes field. Class attributes belong to the class itself.</span></li>
    </ul>

    <p><span style="font-size:10px;"><img alt="" class="mx-auto d-block img-fluid" src="https://cdn.ttgtmedia.com/rms/onlineimages/whatis-object_oriented_programming.png" /></span></p>

    <h3><span style="font-family:Times New Roman,Times,serif;">What are the main principles of OOP?</span></h3>

    <p><span style="font-family:Times New Roman,Times,serif;">Object-oriented programming is based on the following principles:</span></p>

    <ul>
      <li><span style="font-family:Times New Roman,Times,serif;"><strong>Encapsulation</strong><strong>.&nbsp;</strong>This principle states that all important information is contained inside an object and only select information is exposed. The implementation and state of each object are privately held inside a defined class. Other objects do not have access to this class or the authority to make changes. They are only able to call a list of public functions or methods. This characteristic of data hiding provides greater program security and avoids unintended data corruption.</span></li>
      <li><span style="font-family:Times New Roman,Times,serif;"><strong>Abstraction</strong><strong>.</strong>&nbsp;Objects only reveal internal mechanisms that are relevant for the use of other objects, hiding any unnecessary implementation code. The derived class can have its functionality extended. This concept can help developers more easily make additional changes or additions over time.</span></li>
      <li><span style="font-family:Times New Roman,Times,serif;"><a href="https://www.techtarget.com/whatis/definition/inheritance"><strong>Inheritance</strong></a><strong>.&nbsp;</strong>Classes can reuse code from other classes. Relationships and subclasses between objects can be assigned, enabling developers to reuse common logic while still maintaining a unique hierarchy. This property of OOP forces a more thorough data analysis, reduces development time and ensures a higher level of accuracy.</span></li>
    </ul>

    <ul>
      <li><span style="font-family:Times New Roman,Times,serif;"><a href="https://www.techtarget.com/whatis/definition/polymorphism"><strong>Polymorphism</strong></a><strong>.&nbsp;</strong>Objects are designed to share behaviors and they can take on more than one form. The program will determine which meaning or usage is necessary for each execution of that object from a parent class, reducing the need to duplicate code. A child class is then created, which extends the functionality of the parent class. Polymorphism allows different types of objects to pass through the same interface.</span></li>
    </ul>
    </body>
    </html>
    <!--social media and hr ruler >>>>-->
    <div class="main_bar">
      <div class="social_bar">
        <div class="social-media">
          <div class="txt_share">Share:</div>

          <img class="social-icon" src="../../../assets/images/icons/social/instagram.svg" alt="">
          <img  class="social-icon" src="../../../assets/images/icons/social/twitter.svg" alt="">
          <img class="social-icon" src="../../../assets/images/icons/social/linkedin.svg" alt="">
        </div>
      </div>

    </div>

  </div>

</div>

